$colorBlack: #000000;
$colorWhite: #ffffff;
$colorBlue: #5b80b0;
$colorOrange: #ffc870;
$colorOrange2: #ffe5a7;
$colorRed: #ff3200;
$colorRed2: #f37050;
$colorGreen: #81D742;
$colorGrey1: #f6f7f9;
$colorGrey2: #959ca6;
$colorGrey3: #484949;
$colorGrey4: #5b5b5b;
$colorGrey5: #f1f1f1;
$colorGrey6: #e0e3e8;
$colorGrey7: #bac3d2;
$colorGrey8: #1c232d;
$colorGrey9: #fafafb;
$colorGrey10: #ced4da;
$colorNav1: #252D3A;
$colorNav2: #13171D;
$colorGreyJo1: #565656;
$colorGreyJo2: #cdcdcd;
