@media screen and ( min-width: 992px) {

  header {
    height: 80px;

    .logo {

      img {
        width: 340px;
      }
    }

  }

  #nav-sidebar {
    width: auto;
    left: auto;
    right: 15px;

    &.navbar {
      padding: 0;
    }

    &.bg-dark {
      background: none !important;
    }

    &.navbar-dark {

      .navbar-nav {


        .nav-item {

          .nav-link {
            color: $colorBlack;
            height: 100%;

            u {
              display: block;
              text-transform: none;
              font-size: 13px;
            }

            i {
              color: $colorGreen;
              height: 20px;
              font-size: 20px;
            }

            &.concept {
              span {
                line-height: 2.5rem;
              }
            }

            &.vhu {
              i {
                font-size: 40px;
                line-height: 1.4rem;

              }
            }
          }

          &.active {

            > .nav-link {
              background: none;
            }

          }

        }

      }
    }

    .navbar-nav {
      width: auto;

      .nav-item {
        border: none;

        max-width: auto;


        &:last-child() {
          border: none;
        }

        > .nav-link {
          height: auto;
          padding: 5px 25px !important;

          span {
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 0px;
            font-size: 18px;
          }

          i {
            font-size: 34px;
            margin-bottom: 10px;
          }
        }

      }

    }

  }


  #main {
    padding: 80px 0 0 0;
  }

  .filter-desktop {
    border: 3px solid $colorGreen;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    white-space: nowrap;
    height: 2.5rem;
    -webkit-transition: background-color .2s ease-in-out,border .2s ease-in-out;
    transition: background-color .2s ease-in-out,border .2s ease-in-out;
    max-width: 100%;
    cursor: default;
    background: $colorGreen;
    position: relative;
    text-align: left;

    &:hover {
      background: $colorGreen;
      border: 3px solid transparent;
      cursor: pointer;
    }

    &.active {
      border: 3px solid $colorGreen;

      &:hover {
        background: $colorGreen;
      }

      .button-wrapper {
        color: $colorWhite;
      }
    }

  }


  .button-wrapper {
    position: relative;
    width: 100%;
    color: $colorWhite;
    font-size: 0;
    line-height: 0;
    padding: 0 1rem;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    height: -webkit-calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    line-height: -webkit-calc(2.5rem - 4px);
    line-height: calc(2.5rem - 4px);

    .select {
      position: relative;
      display: inline-block;
      line-height: -webkit-calc(2.5rem - 6px);
      line-height: calc(2.5rem - 6px);
      height: -webkit-calc(2.5rem - 6px);
      height: calc(2.5rem - 6px);
      font-size: 16px;
      font-weight: 700;
      vertical-align: top;
      text-transform: uppercase;

      &.required {
        &::after {
          content: '*';
          position: absolute;
          top: 0;
          right: -10px;
          color: white;
        }
      }
    }

    i {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: $colorWhite;
      color: $colorGreen;
      position: absolute;
      right: 10px;
      top: calc(50% - 10px);
      text-align: center;
      line-height: 20px;
    }

  }

  .options-wrapper-1 {
    cursor: default;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    display: block;
    outline: none;

    .options-label {
      font-weight: 700;
      padding: 1.5rem 0 .5rem 2rem;
      font-size: 16px;
    }

    .options-wrapper-2 {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      line-height: normal;
      font-weight: 400;
      font-style: normal;
      pointer-events: auto;
      text-decoration: none;
      text-align: left;
      width: auto;

      margin-top: 5px;
      left: -1px;
      min-width: 246px;
    }

    .options-wrapper-3 {
      display: inline-block;
      max-width: 100%;
      min-width: 100%;
    }

    .options-wrapper-4 {
      -webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,.15);
      box-shadow: 0 2px 6px 1px rgba(0,0,0,.15);
      background-color: $colorWhite;
    }

    .options-wrapper-5 {
    }

    .options-wrapper-6 {
      display: block;
    }

    .options-wrapper-7 {
      position: relative;
      display: block;
      width: 100%;
    }

    .options-wrapper-8 {
      max-height: 250px;
      overflow-y: auto;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .options {
      padding: 1rem 2rem 2rem;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
    }

    .gradient {
      -webkit-transition: height .3s ease-out;
      transition: height .3s ease-out;
      height: 5rem;
      pointer-events: none;
      position: absolute;
      width: 100%;
      -webkit-transition: height .3s ease-out;
      transition: height .3s ease-out;
      bottom: 0;
      background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,0),$colorWhite);
      background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to($colorWhite));
      background-image: linear-gradient(180deg,
      hsla(0,0%,100%,0),$colorWhite);
    }

    .options-footer-wrapper {
      padding: 1rem 1.5rem;
      border-top: 1px solid $colorGrey2;
      color: $colorBlack;

      .options-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }

    .btn {
      padding: 0;
      font-size: 18px;
      font-weight: 600;
      border: none;
      cursor: pointer;
      color: $colorGrey4;
      background: none;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }

    .btn-erase {

    }

    .btn-validate {
      color: $colorRed2;

      &:hover {
        color: $colorRed;
      }
    }

  }

  .advanced-search-panel {

    .filter-desktop {
      background: $colorNav1;

      .button-wrapper {
        color: $colorWhite;
      }

      &:hover {
        background: $colorNav1;
        border: 3px solid $colorGreen;
      }

      &.active {
        border: 3px solid $colorGreen;

        &:hover {
          background: $colorGreen;
        }

        .button-wrapper {
          color: $colorWhite;
        }
      }
    }

    .btn-submit {
      background: $colorGreen;
      color: $colorWhite;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      left: auto;
      right: 15px;
      bottom: 15px;
      z-index: 9;
      padding: 0;
      text-align: center;

      i {
        font-size: 30px;
        vertical-align: middle;
      }

      span {
        display: none;
      }
    }

  }

  #home {
    h1 {
      font-size: 20px;
    }

    .main-slider {

      &::after{
        bottom: 10%;
        left: auto;
        right: 5%;
        width: 40%;
        height: 30%;

      }

      .slide-caption {
        left: auto;
        right: 5%;
        bottom: 10%;
        width: 30%;

        .title {
          font-size: 24px;
        }
      }

    }

    .search-form {

      .quick-search {
        border-radius: 10px;

        .title {

        }

        .btn-submit {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          line-height: 1rem;
        }



      }

      .advanced-search-panel {
        background: $colorNav1;
        border-radius: 10px;

        .title {
          text-align: left;
          background: none;
          margin: 0;
        }

        p {
          margin-bottom: 5px;
        }

      }

      .filter {
        margin: 15px 0;
      }

      .impact-vehicle {
        margin-bottom: 10px;
      }

      .filter-radius {
        margin-bottom: 10px;
      }

    }

    .search-wrapper {
      position: absolute;
      top: 10%;
      left: 5%;
      width: 90%;
      height: 85%;
      z-index: 8;

      .search-form {

        .quick-search {
          .arrow {
            content: "";
            display: block;
            width: 15px;
            height: 30px;
            border-top : 15px solid transparent;
            border-bottom : 15px solid transparent;
            border-left : 15px solid $colorWhite;
            position: absolute;
            right: -15px;
            top: calc(50% - 15px);
            z-index: 11;
          }

        }

        .advanced-search-panel {
          position: relative;

          .close-panel {
            position: absolute;
            top: 0px;
            right: 0px;
            background: none;
            border: none;
            z-index: 11;
            padding: 0;

            .cross {

              width: 50px;
              height: 40px;
              position: relative;
              margin: 0 auto;
              cursor: pointer;

              > span.bar {
                display: block;
                position: absolute;
                height: 4px;
                width: 60%;
                background-color: $colorWhite;
                border-radius: 8px;
                opacity: 1;
                left: 20%;

                &:nth-child(1) {
                  top: 18px;
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  transform: rotate(45deg);
                }

                &:nth-child(2) {
                  top: 18px;
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                }

              }

            }

          }


        }
      }

    }

    .steps {
      &::after {
        content: "";
        position: absolute;
        bottom: 95px;
        left: 0;
        width: 100%;
        border-width: 0 0 5px 0;
        border-style: dotted;
        border-color: $colorGreen;
        border-image-slice: 33% 33%;
        border-image-repeat: round;
        z-index: -1;
      }
    }

    .pre-footer {

      .news {

        .item {
          padding-right: 30px;
        }
      }

      .newsletter {
        background: $colorGreen;
        padding-top: 15px;
        padding-left: 80px;

        i {
          background: none;
          top: 0px;
          left: 0px;
          font-size: 45px;
        }

      }
    }


  }




  #search {

   .filter-desktop {
      border: 3px solid $colorWhite;
    }

    #__desktop_search {
      .my-search {
        .label {
          text-transform: uppercase;

          strong {
            color: $colorWhite;
          }
        }
      }
    }

    .quick-search-wrapper {
      background: $colorGreen;
      padding: 15px 0 0;

      .quick-search {

        .btn-submit {
          position: relative;
          background: $colorWhite;
          color: $colorGreen;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          text-align: center;
          padding: 0;

          i {
            font-size: 22px;
            color: $colorGreen;
          }
        }

        .col-advanced-search {
          margin-bottom: 0;
          padding-bottom: 1rem;

          &.active {
            background: $colorNav1;
            border-radius: 20px 20px 0 0;

            .advanced-search {
              color: $colorWhite;
              background: none;
              border-color: transparent;


              &:hover {
                background: none;
              }
            }

          }

        }

        .advanced-search {
          font-size: 14px;
          padding: 3px 10px;
          letter-spacing: -1px;
          transition: none;


        }
      }
    }

    .advanced-search-wrapper {
      background: $colorNav1;
      padding: 15px;

      .advanced-search-panel {

        p {
          color: $colorWhite;
        }

        .filter {
            margin: 15px 0;
        }

        .whole-country {
          label {
            .item-label {
              color: $colorWhite;
            }
          }
        }

      }
    }

    .list {
      padding-left: 15px;
      padding-right: 15px;
    }

    .vehicle-list {

      tbody {

        td {
          height: 100px;

          &.description {
            font-size: 15px;
          }

          .distance {
            font-size: 13px;
            padding: 5px 0;

            strong {
              font-size: 18px;
            }

          }

        }

      }

    }


  }

  #sheet {

    .vehicle-sheet {

      .title {

        h2 {

          font-weight: 700;
          font-size: 22px;

          span {
            display: inline
          }
        }
      }

      .btn-nav {
        span {
          width: 120px;
        }
      }

      .wrapper {
        position: relative;

        &::after {
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 3px;
          height: 100%;
          border-width: 0 3px 0 0;
          border-style: dotted;
          border-color: $colorGreen;
          border-image-slice: 33% 33%;
          border-image-repeat: round;
        }
      }

    }

  }

  #search,
  #sheet,
  #page,
  #news,
  #alert {
    h1 {
      height: 150px;
      padding: 30px 90px 0 0;
    }
  }

  #alert {
    .confirm {

    }
  }

}
