@media screen and ( min-width: 1400px) {

  header {
    .free-service {

      h2 {
        line-height: 1.1em;
        text-transform: uppercase;
        margin: 0;
        text-align: center;

      }
    }
  }

}
